* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 80px;
    background: linear-gradient(135deg, #5c3fd6, #e9e1f8, #4b34ad);
}

.left-side {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 40px;
}

.right-side img {
    width: 95%; 
    height: 100%; 
    object-fit: cover; 
    display: block; 
}

.right-side {
    width: 50%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-top-right-radius: 30px; 
    border-bottom-right-radius: 30px;
}

.logo img {
    max-width: 100%;
    height: auto;
    max-width: 150px;
}

h2 {
    font-size: 22px;
    margin-top: 20px;
}

p {
    font-size: 22px;
    margin-top: 20px;
}

form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.forgot-password {
    color: #666;
    text-decoration: none;
    font-size: 15px;
    }

.sign-in-button {
    padding: 10px;
    border: none;
    background-color: #5c3fd6;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.sign-in-button:hover {
    background-color: #4b34ad;  
}

.signup {
    font-size: 14px;
    color: #666;
    margin-top: 20px;
    text-align: center;
}

.signup a {
    color: #5c3fd6;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}